@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}

.header
{
    height: 100vh;
    background-image: url("../images/PropertySearch.jpg");
    background-size: cover;
    background-position: center;

}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  height: 60%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  margin-left: auto;
  margin-right: auto;
}

.wrapper .right{
  width: 65%;
  background: white;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 25px;
  margin-left: auto;
    margin-right: auto;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
  margin-left: auto;
    margin-right: auto;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: auto;
    margin-right: auto;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
    margin-right: auto;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;

}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;

}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
  font-size: large;

}

.nav-img{
    width: 80px;
    border-radius: 25%;
}